.main-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}


.or-separator{
  font-weight: bold;
  font-size: 20px;
}

.email-button{
  background-color: rgba(226, 226, 226, 0.5);
  border-radius: 18px;
  border : none;
  padding: 10px 16px 10px 16px;
  vertical-align: top;
  font-weight: bold;
  font-size: 15px;
  cursor:pointer;
  transition: background-color 0.15s;
  margin: 30px
}

.email-button:hover{
  background-color: rgba(107, 107, 107, 0.5);
}

.linkedin-button{
  color: white;
  background-color: rgb(10, 102, 194);
  border-radius: 18px;
  border : none;
  padding: 10px 16px 10px 16px;
  vertical-align: top;
  font-weight: bold;
  font-size: 15px;
  cursor:pointer;
  transition: background-color 0.15s;
  margin: 30px
}

.linkedin-button:hover{
  background-color: rgb(8, 84, 160);
}

.status-card{
  background-color: rgba(107, 107, 107, 0.5) ;
  color: white;
  position:fixed;
  bottom: 20px;
}

.status-text{
  padding :10px 16px 10px 16px;
}

