.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 100px;
  padding-top: 150px;
}

.project-category{
  display: flex;
  flex-direction: column;
}

.project-title{
  font-size: 50px;
}

.project-grid{
  display: grid;
  grid-template-columns: 200px 200px;
  row-gap: 20px;
  column-gap: 20px;
}

.project-img{
  background-color: rgba(226, 226, 226, 0.3);;
  border-radius: 1px;
  border-color: black;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  transition: box-shadow 0.1s ease;
  object-fit: cover;
  object-position: center;
}

.project-img:hover{
  box-shadow: 0px 0px 10px rgb(73, 73, 73);7
}